/* Paleta de colores */
:root {
    --background-color: #f3f8ff;
    --header-color: #ffffff;
    --text-color: #333;
    --accent-color: #5b8ef7;
    --post-background: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-image: url('imgs/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Estilo del Header */
header {
    background-color: var(--header-color);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px var(--shadow-color);
}

/* Buscador */
#search {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#search:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 8px rgba(91, 142, 247, 0.5);
}

/* Contenedor Principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* Posts */
.post {
    background: var(--post-background);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.5s ease-in-out forwards;
}

.post h2 a {
    text-decoration: none;
    color: var(--accent-color);
    transition: color 0.3s ease;
}

.post h2 a:hover {
    color: #3a6de2;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
